:root {
    --Red: hsl(0, 100%, 74%);
}

* {
    margin: 0;
    color: white;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,.8)),linear-gradient(rgb(0,0,0,0), rgb(0,0,0,.3)),linear-gradient(to right, rgb(0,0,0,0.1), rgb(0,0,0,.9)), url(./images/suitCrossNoBG8.png);
    background-repeat:no-repeat;
    background-size: contain;
    background-position: left bottom;
    background-attachment: fixed;
    margin-bottom: 0;
}


a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    min-height: 100%;
    margin: auto;
    position: relative;
    padding: 0 1rem;
}

.name {
    margin-top: 4rem;
    margin-left: auto;
    font-size: 4rem;
    text-align: center;
    width: fit-content;
    /* background: green; */
}

.nav {
    /* background: green; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.nav-item {
    color: white;
    font-size:larger;
    margin: 2rem 1.5rem;
    transition: .2s ease-in-out;
}

.nav-item:last-of-type {
    margin-right: 0;
}

a:hover {
    color: lightskyblue;
    scale: 1.5;
}

a:active {
    color: lightgreen;
}

.main {
    font-family: 'Lora', serif;
    line-height: 1.5em;
    margin-top: 3rem;
    margin-bottom: auto;
    margin-left: calc(min(50vw, 600px) - 10rem);
    text-align: justify;
}

.i {
    color: white;
    padding: 0 .4rem;
    font-size: 1.5rem;
    transition: .2s ease-in-out;
    margin: 4rem 0;
}

.footer {
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    box-sizing: border-box;
}

.innercont {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 16rem);
    /* background: green; */
}

@media only screen and (max-width:600px) {
    /* body {
        background-position: bottom;
        background-attachment: fixed;
    } */
    .main {
        margin-left: 0;
        /* background: rgba(0,0,0,0.4);
        box-shadow: -2rem 0 2rem 1rem rgba(0,0,0,0.5); */
    }
    .nav {
        flex-direction: column;
        align-items: center;
    }
    .nav-item {
        margin: .5rem 0;
    }
    /* .nav-item:last-of-type {
        margin: .5rem;
    } */
    .name {
        margin: auto;
        margin-top: 4rem;
        margin-bottom: 1rem;
        font-size: 3rem;
    }
    
}