:root {
    --Red: hsl(0, 100%, 74%);
}

* {
    margin: 0;
    color: white;
}
html {
    /* height: 100%; */
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,.8)),linear-gradient(rgb(0,0,0,0), rgb(0,0,0,.3)),linear-gradient(to right, rgb(0,0,0,0.1), rgb(0,0,0,.9)), url(./images/suitCrossNoBG6.png);
    background-repeat:no-repeat;
    background-size: auto 100%;
    background-position: left top;
    background-attachment: fixed;
    margin-bottom: 0;
}


a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    min-height: 100%;
    margin: auto;
    position: relative;
    padding: 0 1em;
}

.name {
    margin-top: .75em;
    margin-left: auto;
    font-size: 4em;
    width: fit-content;
    /* background: green; */
}

.nav {
    /* background: green; */
    /* margin: 2em; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.nav-item {
    color: white;
    font-size:larger;
    margin: 2em 1.5em;
    transition: .2s ease-in-out;
}

.nav-item:last-of-type {
    margin-right: 0;
}

a:hover {
    color: pink;
    scale: 1.5;
}

.main {
    font-family: 'Lora', serif;
    line-height: 1.5em;
    margin-top: 3em;
    margin-bottom: auto;
    margin-left: calc(min(50vw, 600px) - 10em);
    text-align: justify;
}

.i {
    color: white;
    padding: 0 .4em;
    font-size: 1.5em;
    transition: .2s ease-in-out;
}

i:hover {
    color:pink;
    scale: 1.5;
}

.footer {
    /* background-color: green; */
    display: flex;
    justify-content: flex-end;
    margin: 4em 0;
    align-self: flex-end;
}

.innercont {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    height: calc(100vh - 13em);
    /* background: green; */
}
/* @media only screen and (max-width:900px) {
    .main {
        margin-left: 0;
        background: rgba(0,0,0,0.4);
        box-shadow: 0 0 30px 20px rgba(0,0,0,0.4);
    }
    
} */

@media only screen and (max-width:600px) {
    .main {
        margin-left: 0;
        background: rgba(0,0,0,0.4);
        box-shadow: 0 0 30px 20px rgba(0,0,0,0.4);
    }
    .nav {
        flex-direction: column;
        align-items: center;
    }
    .nav-item:last-of-type {
        margin: 1em;
    }
    .name {
        margin: auto;
        margin-top: .75em;
    }
    
}